.game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-gui {
  position: absolute;
  gap: 10px;
  width: auto;
  display: flex;
  justify-content: center;
}

.preview-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40vw;
  max-height: 40vh;
  object-fit: contain;
  border: 2px solid #fff;
  pointer-events: none;
}
