<div class="box">
  <table class="table is-fullwidth is-striped ">
    <thead>
    <tr>
      <th>Room title</th>
      <th>Players online</th>
      <th style="text-align: right">
        <button class="button is-primary" (click)="onRefreshRooms()">Refresh</button>
      </th>
    </tr>
    </thead>
    <tbody>
      @if (publicRooms$ | async; as publicRooms) {
        <tr *ngFor="let room of publicRooms">
          <td>{{ room.Title }}</td>
          <td>{{ room.PlayerCount }}</td>
          <td>
            <button class="button is-primary" (click)="onJoin(room.Id)">Join</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
