<div class="container my-6">
  <div class="buttons is-justify-content-space-between">
    <div [style.width.px]="lastElement.offsetWidth"></div>
    <div>
      <button class="button" [routerLink]="['']" [routerLinkActive]="['is-primary', 'is-selected']"
              [routerLinkActiveOptions]="{exact: true}">
          <span class="icon">
            <img [ngClass]="{'invert-filter': !isRouteActive('')}" class="invert-filter" src="magic-wand.svg"
                 alt="Host game">
          </span>
        <span>Host game</span>
      </button>
      <button class="button" [routerLink]="['public']" [routerLinkActive]="['is-primary','is-selected']">
          <span class="icon">
            <img [ngClass]="{'invert-filter': !isRouteActive('public')}" src="list.svg" alt="Public Rooms">
          </span>
        <span>Public rooms</span>
      </button>
    </div>
    <div #lastElement>
      @if (userInfo$ | async; as user) {
        <button class="button" [routerLink]="['profile']" [routerLinkActive]="['is-primary','is-selected']">
          <span class="icon">
            <img [ngClass]="{'invert-filter': !isRouteActive('profile')}" src="user.svg" alt="Profile">
          </span>
          <span>Hello {{ user.username }}!</span>
        </button>
        <button class="button" (click)="logout()">
          <span class="icon">
            <img class="invert-filter" src="exit.svg" alt="Log out">
          </span>
        </button>
      } @else {
        <button class="button" [routerLink]="['login']" [routerLinkActive]="['is-primary','is-selected']">
          <span class="icon">
            <img [ngClass]="{'invert-filter': !isRouteActive('login')}" src="user.svg" alt="Profile">
          </span>
          <span>Login</span>
        </button>
      }
    </div>
    </div>
  <router-outlet></router-outlet>
</div>

<div class="centered-link">
  <a [routerLink]="['attribution']">Attribution</a>
</div>
