<div class="container my-6">
  <div class="buttons has-addons is-centered">
    <button class="button" [routerLink]="['']" [routerLinkActive]="['is-primary', 'is-selected']" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">
        <img src="magic-wand.svg" alt="Host game">
      </span>
      <span>Host game</span>
    </button>
    <button class="button" [routerLink]="['public']" [routerLinkActive]="['is-primary','is-selected']">
      <span class="icon">
        <img src="list.svg" alt="Public Rooms">
      </span>
      <span>Public rooms</span>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
