<div class="box container my-6">
  <div class="content">
    <div class="has-text-centered">
      <h1>Attribution</h1>
    </div>
    <ul>
      <li>
        Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
      </li>
      <li>
        <a href="https://freesound.org/people/gblanke/sounds/265288/">FingerSnaps_02.wav</a> by <a
        href="https://freesound.org/people/gblanke/">gblanke</a> | License: <a
        href="http://creativecommons.org/licenses/by/3.0/">Attribution 3.0</a>
      </li>
    </ul>
  </div>
</div>
