<div class="box">

  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Room title</label>
      <div class="control">
        <input class="input" [ngClass]="titleClass" type="text" placeholder="Enter room title" formControlName="title">
      </div>
      @if (title?.invalid && (title?.dirty || !title?.untouched)) {
        <p class="help is-danger">Title is required</p>
      }
    </div>

    <label class="label">Image</label>
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <input class="file-input" type="file" accept="image/*" (change)="onImagePicked($event)"/>
        <span class="file-cta">
          <span class="file-label">Choose an image</span>
        </span>
        <span class="file-name">{{ roomForm.value.image?.name || "No file selected" }}</span>
      </label>
    </div>

    <label class="label">Pieces</label>
    <div class="columns">
      <div class="column is-9">
        <input class="input" type="number" placeholder="Piece count" formControlName="pieces"
               (input)="onPiecesChanged($event)">
        <p class="help is-warning" *ngIf="estimatedPieces">
          Actual pieces: {{ estimatedPieces.columns * estimatedPieces.rows }}, image divided into {{ estimatedPieces.rows }}x{{ estimatedPieces.columns }}
        </p>
      </div>
      <div class="column">
        <div class="buttons has-addons is-centered">
          <button class="button is-link" type="button" (click)="setPieces(100)">100</button>
          <button class="button is-link" type="button" (click)="setPieces(200)">200</button>
          <button class="button is-link" type="button" (click)="setPieces(500)">500</button>
          <button class="button is-link" type="button" (click)="setPieces(1000)">1000</button>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" formControlName="publicRoom"/>
        Public Room
      </label>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary" type="submit" [disabled]="roomForm.invalid">Start game</button>
      </div>
    </div>
  </form>

</div>
