<div class="box">

  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Room title</label>
      <div class="control">
        <input class="input" [ngClass]="titleClass" type="text" placeholder="Enter room title" formControlName="title">
      </div>
      @if (title?.invalid && (title?.dirty || !title?.untouched)) {
        <p class="help is-danger">Title is required</p>
      }
    </div>


    <label class="label">Image</label>
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <input class="file-input" type="file" accept="image/*" (change)="onImagePicked($event)"/>
        <span class="file-cta">
          <span class="file-label">Choose an image</span>
        </span>
        <span class="file-name">{{ roomForm.value.image?.name || "No file selected" }}</span>
      </label>
    </div>


    <label class="checkbox">
      <input type="checkbox" formControlName="publicRoom"/>
      Public Room
    </label>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary" type="submit" [disabled]="roomForm.invalid">Start game</button>
      </div>
    </div>
  </form>

</div>
